node_modules
dist/
out/
build/
.mypy_cache
.vscode-test

package-lock.json

**/.vscode/
!./.vscode/tasks.json
!./.vscode/launch.json
!./test/integrationTest/testAssets/testUdemy/.vscode/Makefile

*.vsix
*.cpuprofile
*.log
